/* COLORES  

#0c0c32   Azul casi negro
#b0e7e3   ROSA IMAGINANTE 


 COLORES */



/* RESET*/
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* FIN RESET */


@font-face {
  font-family: FiraSansRegular;
  src: url("http://losimaginantes.mx/dev/fonts/firasans-master/FiraSans3105/OTF/FiraSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: FiraSansExtraLight;
  src: url("http://losimaginantes.mx/dev/fonts/firasans-master/FiraSans3105/OTF/FiraSans-ExtraLight.otf") format("opentype");
}

header{
  margin-bottom: -25px;
}

#contenedorPublicidad{
  width: 100%;
  text-align: center;
  background-color: #eee;
}

/*  -------- PUBLICIDAD HEADER  --------- */ 

/*  ---- SMARTHPHONE ----*/

@media only screen and (max-width: 590px){
   #publicidadL{
    background-image: url("http://lorempixel.com/300/65/");
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 300px;
    height: 65px;
    background-color: #0c0c32;
    display: inline-block;
  } 
   #publicidadR{
    visibility: hidden;
  } 

}

/*  ---- TABLETS ----*/

@media only screen and (min-width: 591px) and ( max-width: 1179px) {
  #publicidadL{
    background-image: url("http://lorempixel.com/550/120/");
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 550px;
    height: 120px;
    background-color: #0c0c32;
    display: inline-block;
  } 
   #publicidadR{
    visibility: hidden;
  } 
}

/*  ---- NORMAL  ----*/

@media only screen and ( min-width: 1180px) {
   #publicidadL{
    background-image: url("http://lorempixel.com/550/120/");
    display: inline-block;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 550px;
    height: 120px;

  } 

  #publicidadR{
    display: inline-block;
    background-image: url("http://lorempixel.com/550/120/");
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 550px;
    height: 120px;
    
    
  } 
}




/*  -------- TERMINA PUBLICIDAD HEADER  --------- */ 


#publicidad2{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3%;
  margin-bottom: 1%;
  width: 90%;
  height: 120px;
  background-color: #0c0c32;
  display: inline-block;
}
 
 /* Barra Transparente */ 
 
#SuperiorMenu{
  margin-bottom: -25px;
  background-color: #eee;
  height: 26px;
  opacity: 0.8;
}


#menu{
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: -25px;
  height: 100px;
  width: 100%;
  z-index: 1;
}

#menuIn{
  color: #fff;
  margin-top: 25px;
  height: 50px;
  width: 100%;
  background-color: #0c0c32;
  display: inline-block;
}


#logo{
  vertical-align: center;
  position: absolute;
  margin-left: 6%;
 background-color: #fff;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  width:100px;
  height:100px;
  margin-top: -79px;
  display: block;
  border-radius: 80px;
}

#logo img{
  margin: 5px 5px;
}













@media only screen and ( max-width: 768px) {  /*  ---------- MOVILES ---------  */ 


    #menuInL li ul
    {
        z-index: 3;
        display: none;
        position: relative;
        top: 100%;
        margin-top: 0px;
    }
        #menuInL li:hover ul
        {
            display: inline;
        }


  #lmenu{
    display: block;
    top: 35px;
  }

  #lmenu a {
    float: right;
    height: 10px;
    margin-right:  -30px;  /* ICONO */
    background-color: #0c0c32;
    padding: 12px 18px;
    color: #fff;
    width: 100%;
    letter-spacing: 1px;
    font: 12px FiraSansRegular;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }


  #menuInL
    {
        text-align: right;
        position: relative;
        float: right;
        margin-right: 30px;  /* ICONO MENU */
        margin-top: 12px;
        width: 150px;
    }
        #menuInL > a
        {
          display: none;
        }
        #menuInL li
    {
        position: relative;
    }
        #menuInL:not( :target ) > a:first-of-type,
        #menuInL:target > a:last-of-type
        {
            display: block;
        }
 


    /* first level */
 
    #menuInL > ul
    { 
        height: 30px;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
        #menuInL:target > ul
        {
            display: block;
        }
        #menuInL > ul > li
        {
            width: 100%;
            height: 100%;
            float: right;

        }
 
    /* second level */
 
    #menuInL li ul
    {
        position: static;
    }


    /* SUBMENU  */

    #lmenu ul {
        z-index: 2;
        _margin: 0; /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 30px;
        left: 150px;    
        transition: all .2s ease-in-out;

    }

    #lmenu li{

    }

    #lmenu li:hover > ul {
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    #lmenu ul ul {
        top: 0;
        _margin: 0; /*IE6 only*/   
    }

    #lmenu ul li {
        float: none;
        display: block;
        border: 0;
        _line-height: 0; /*IE6 only*/

    }

    #lmenu ul li a{

      padding-bottom: 25px;
      margin-top: -30px;
      margin-bottom: 10px;
    }

    #lmenu ul li a:last-child {   

    }

    #lmenu ul a {   
        margin-right: 156px; /* ICONO */
        margin-top: 0px;
        width: 80%;
        background-color: #0b0b3b;
        opacity: 1;
        height: 8px;

        _height: 8px; /*IE6 only*/
        white-space: nowrap;
        font: 10px FiraSansExtraLight;
        text-align: right;
    }

    #lmenu ul a:hover {

        color: #ddd;

    }

    /*Termina Submenu */



}
 /*  ---------- TERMINA  MOVILES ---------  */ 


@media screen and (min-width: 769px) {  /*  ---------- NORMAL ---------  */ 

  #lmenu li {
    float: left;
    /*border-right: 1px solid #222; */
    /*box-shadow: 1px 0 0 #444; */
    position: relative;
}

  #mostrar{
    display: none;
  }

  #ocultar{
    display: none;
  }

  #menuInL{
  background: #f00;
  margin-left: 20%;
  }

  #lmenu a {
    float: left;
    padding: 14px 22px;
    color: #ccc;
    letter-spacing: 1px;
    font: 14px FiraSansRegular;
    text-transform: uppercase;
    text-decoration: none;
  }

  #lmenu a:hover{
    color: #fff;
  }

    /* SUBMENU  */

    #lmenu ul {
        z-index: 3;
        _margin: 0; /*IE6 only*/
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 50px;
        left: 0;    
        transition: all .2s ease-in-out;

    }

    #lmenu li:hover > ul {
        z-index: 3;
        opacity: 1;
        visibility: visible;
        margin: 0;
    }

    #lmenu ul ul {
      z-index: 3;
        top: 0;
        _margin: 0; /*IE6 only*/   
    }

    #lmenu ul li {
      z-index: 3;
        float: none;
        display: block;
        border: 0;
        _line-height: 0; /*IE6 only*/

    }

    #lmenu ul li:last-child { 
    z-index: 3;  
        box-shadow: none;    
    }

    #lmenu ul a {    
      z-index: 3;
        margin-left: -35px;
        margin-top: 0px;
        width: 140px;
        background-color: #0b0b3b;
        opacity: 1;
        height: 10px;
        _height: 10px; /*IE6 only*/
        white-space: nowrap;
        font: 12px FiraSansExtraLight;
        text-align: left;
    }

    #lmenu ul a:hover {
        background-color: #005;
        color: #fff;

    }

    /*Termina Submenu */

}

 /*  ---------- TERMINA  NORMAL ---------  */ 



#slide{
  width: 100%;
  
  background-color: #B0E7E3;
  height: 400px;
}


.slideFixed{
  margin-top: 85px;
}

.principal{
  background-color: #eee;
  height: 100px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 20px;
}


.mainFixed{
  margin-top: 100px;
}

.fixed { 
  
  position: fixed; top: 0px; }


/*                           -----------  Publicaciones index  ------------ */ 

/*  ---- SMARTHPHONE ----*/

@media only screen and (max-width: 375px){
   
    #publicacion{
      margin-top: 30px;
      margin-left:3px;
      margin-right:3px;
      height: 220px;
      width: 280px;
      display: inline-block;
    }

    #publicacion img{
      height: 220px;
      width: 280px;
    }

}

/*  ---- TERMINA SMARTHPHONE ----*/

@media only screen and ( min-width: 376px) {
  
  #publicacion{
    margin-top: 50px;
    margin-left: 22.5px;
    margin-right: 22.5px;
    height: 260px;
    width: 330px;
    display: inline-block;
  }  
  
}

#publicaciones{
  display: inline-block;
    height: auto;
    width: 100%;
    background-color: #eee;

}

#contenedorPublicaciones{
  display: inline-block;
  text-align: center;
  }



.textoPublicacion{

  height: 130px;
  width: 100%;
  display: inline-block;
  margin-top: -4px;
  background-color: #0c0c32;
}




/*                         -----------  TEMRINA Publicaciones index  ------------ */ 

/* -------- PUBLICIDAD ------------ */

#publicidad-footer{
  height: 240px;
  width: 100%;
  display: inline-block;
  background-color: #b0e7e3;
  margin-bottom: -5px;
}

/* ------- TEMRINA PUBLICIDAD ------------ */




/*  -------- FOOTER  ----------  */


@media screen and (max-width:768px) {  /*  ---- VERSION MOVIL ---- */
   footer{
    display: inline-block;
    color: #fff;
    height: 0px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 60px;
    background-color: #0c0c32;
    left: 0;
        
    }


    footer img{
      padding-left: 10px;
    }

    #RedesSociales{
      margin-top: 2px;
      display: inline-block;
      width: 29%;
      height: 30px;
    }

    #textoFooter{
      text-align: right;
      margin-top: 2px;
      display: inline-block;
      font: 12px FiraSansExtraLight;
      width: 70%;
      height: 30px;
    }

}       /*  ----  TERMINA VERSION MOVIL ---- */

@media screen and (min-width: 769px) {
    
    footer{
    display: inline-block;
    color: #fff;
    height: 0px;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 60px;
    background-color: #0c0c32;
    left: 0;
        
    }


    footer img{
      padding-left: 10px;
    }

    #RedesSociales{
      margin-top: 15px;
      display: inline-block;
      width: 29%;
      height: 30px;
    }

    #textoFooter{
      text-align: right;
      margin-top: 15px;
      display: inline-block;
      font: 13px FiraSansExtraLight;
      width: 70%;
      height: 30px;
    }

}




/*  -------- TERMINA FOOTER  ----------  */

/*--------- MENU MUSICA MODA COOLTURA -------------  */ 


.menudes {
position: relative;
overflow: hidden;
width: 100%;
height: 27px;
line-height: 20px;
z-index: 0;
border-radius: 0px;
background: #b0e7e3; /* ROSA IMAGINANTE */
}
.menudes ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.menudes ul li {
display: inline-block;
width: 100px;
box-sizing: border-box;
font: 14px FiraSansRegular;
text-transform: uppercase;
}
.menudes ul li a {
  color: #000;
  text-decoration: none;
}
.marca {
position: absolute;
bottom: 0px;
left: -70px; /* Al menos 1/2 del ancho de cada enlace */
width: 70px; /* 1/2 del ancho de cada enlace */
height: 6px;
background: #fff;
transition: 0.5s ease-in-out; 
}

#linea{
  height:10px;
  background-color: #c73157;
  margin-top: -3px;
  z-index: 2;
}

.menudes ul li:nth-child(1):hover ~ .marca {
left: -moz-calc(50% -140px); /* 1/4 Ancho del enlace */
left: calc(50% - 140px);
}
.menudes ul li:nth-child(2):hover ~ .marca {
left: -moz-calc(50% -35px);  /* 1/4 Ancho del enlace + 1 vez ancho enlace */
left: calc(50% - 35px); 
}
.menudes ul li:nth-child(3):hover ~ .marca {
left: -moz-calc(50% +70px) ; /* 1/4 Ancho del enlace + 2 veces ancho enlace */
left: calc(50% + 70px) ; 
}
.menudes ul li:nth-child(4):hover ~ .marca {
left: 35%; /* 1/4 Ancho del enlace + 3 veces ancho enlace */
}

/*  --------  TERMINA MENU MUSICA MODA COOLTURA  --------- */ 


/* --------   EFECTO BLANCO Y NEGRO  -------- */

.grises img{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.grises img:hover {
    filter: none;
    -webkit-filter: grayscale(0);

}

/* --------   TERMINA EFECTO BLANCO Y NEGRO  -------- */

